html {
    scroll-behavior: smooth;
}

.navBar {
    padding-top: 15px;
}

.navBar a {
    background-color: rgba(111, 114, 119, 0.308);
    color: black;
    border-radius: 15px;
    padding: 4px 9px;
}

.header {
    font-size: 30px;
    color: black;
    font-weight: bolder;
    border: 1px;
    border-radius: 15px;
    background-color: rgb(236, 236, 236);
}

.subheader {
    font-size: 15px;
    font-style: italic;
}

.footer {
    margin-top: 15px;
    font-size: 13px;
    font-style: italic;
    color: grey;
}

.subtitulo {
    font-size: 25px;
    font-weight: bold;
    color: rgb(78, 77, 77);
}

.padding-top {
    padding-top: 15px;
}

.center {
    text-align: center;
    list-style: inside;
}

.d-block {
    display: block;
}

.produto-img {
    float: left;
    width: 30%;
}

.produto-card {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.144);
    width: 100%;
    display: table;
}

.produto-description {
    display: inline;
    text-align: initial;
}